*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

/*Paleta de colores*/
.colores{
    color:#e9dfcc;
    color:#f3a36b;
    color:#cd5b51;
    color:#554865;
    color:#352630;
}

body{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

header{
    display: flex;
    background-color: #554865;
    color: #e9dfcc;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 3vh;
}

footer{
    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 15px;
    background-color: #e9dfcc;
    color: #352630;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 150px);
    background-color: #352630;
}

#valores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

#valores label{
    color: aliceblue;
    font-size: 2.5vh;
}

#valor{
    text-align: center;
}

#valor input{
    color: aliceblue;
    background-color: #554865;
    border-radius: 5px;
}

#img{
    margin-bottom: 30px;
}

#botones{
    display: flex;
    height: 50px;
    background-color: #554865;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

#botones button{
    width: 120px;
    font-size: 18px;
    background-color: #554865;
    border-radius: 10px;
    color: #e9dfcc;
    border-color: #e9dfcc;
}

#botones button:hover{
    background-color: #e9dfcc;
    color: #554865;
    border-color: #554865;
}

section{
    width: 100%;
}

#tabla{
    color: #e9dfcc;
}

table{
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

th, td{
    padding: 10px;
}

.imagen{
    width: 75px;
    height: 150px;
    /*height: 50px;*/
}