/*Selector Universal*/
*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

/*Paleta de colores*/
.colores{
    color:#e9dfcc;
    color:#f3a36b;
    color:#cd5b51;
    color:#554865;
    color:#352630;
}

/*Selector de ID*/
#contenedorInicio{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

#mainPaginaPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 30px;
    height: auto;
    text-align: justify;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),url("/img/Portada-empresa-2l.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

#mainPaginaPrincipal picture{
    padding: 20px;
}

#mainPaginaPrincipal p{
    padding: 40px;
    max-width:1000px;
    color: #e9dfcc;
}

#mainPaginaPrincipal picture img{
    border-radius: 50px;
    max-width: 100%;
}
/*Estilos para la pagina de empresa*/
#contenedorEmpresa{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

#mainPaginaEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 30px;
    height: auto;
    text-align: justify;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),url("/img/Portada-empresa-2l.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
/*Estilos para el Articulo 1 de empresa*/
#articulo1Empresa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#articulo1Empresa p{
    padding: 40px;
    max-width:1300px;
    text-align: justify;
    color: #e9dfcc;
}

#articulo1Empresa picture{
    padding-bottom: 10px;
}

#articulo1Empresa picture img{
    border-radius: 50px;
    max-width: 200%;
}
/*Estilos para el Articulo 2 de empresa*/
#articulo2Empresa{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    padding-top: 50px;
    text-align: justify;
    color: #e9dfcc;
    align-items: center;
    justify-content: space-between;
}

#articulo2Empresa ul li{
    max-width: 1000px;
}

#articulo2Empresa picture img{
    border-radius: 200px;
    max-width: 80%;
    max-height: 80%;
    padding:50px;
}

/*Estilos de la Pagina de Productos*/
#contenedorProductos{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

#mainPaginaProductos{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: justify;
    background-color: #cd5b51;
    color: #e9dfcc;
}

#mainPaginaProductos h1{
    font-size: 70px;
    justify-content: center;
}

#mainPaginaProductos gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#mainPaginaProductos gallery section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 80px;
    padding-right: 80px;
}

#mainPaginaProductos gallery section h3{
    font-size: 30px;
    padding-bottom: 15px;
}

#mainPaginaProductos gallery section p{
    font-size: 15px;
    padding-bottom: 15px;
}

#mainPaginaProductos gallery section b{
    font-size: 25px;
    padding-bottom: 15px;
}

#mainPaginaProductos gallery section button{
    background-color: #554865;
    color: #e9dfcc;
    border-radius: 15px;
    font-size: 25px;
    margin-bottom: 15px;
}

#mainPaginaProductos gallery section picture img{
    width: 250px;
    height: 500px;
    border-radius: 10px;
}

/*Estilos de la Pagina de Contactos*/
#contenedorContactos{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

#mainPaginaContactos{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),url("/img/Portada-empresa-2l.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color: #e9dfcc;
}

#mainPaginaContactos h1{
    font-size: 70px;
    justify-content: center;
    padding-bottom: 80px;
}



/*Selector de clase*/
.subtitulo{
    color: #e9dfcc;
    text-align: center;
    padding-top: 60px;
}

.formulario{
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.formulario label{
    font-size: 30px;
    padding-right: 80px;
}

.formulario textarea{
    background:#352630;
    color: #e9dfcc;
}

.formulario input{
    background:#352630;
    color: #e9dfcc;
    font-size: 25px;
}

.formulario .comen{
    font-size: 30px;
    padding-right: 80px;
    font-style:none;
}



/*Selector de etiqueta*/
form button{
    background:#352630;
    color: #e9dfcc;
    font-size: 30px;
    border-radius: 20px;
    margin-bottom: 25px;
}

header{
    display: flex;
    background-color: #554865;
    color: #e9dfcc;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    font-size: 4vh;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:#352630;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

nav a{
    text-decoration: none;
    color: #e9dfcc;
    font-size: 2.2em;
    text-align: center;
}

nav a:hover{
    background-color: #e9dfcc;
    color: #352630;
    border-radius: 10%;
}

footer{
    display: flex;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 15px;
    background-color: #e9dfcc;
    color: #352630;
}

/*Media queries*/
@media (max-width: 1000px){
    #articulo2Empresa{
        flex-direction: column;
        padding-right: 80px;
    }

    #articulo2Empresa picture img{
        border-radius: 200px;
        max-width: 100%;
        max-height: 100%;
        padding-top: 20px;
    }

    #articulo1Empresa picture img{
        border-radius: 80px;
        max-width: 100%;
        padding: 25px;
    }
    
    #mainPaginaProductos gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 1310px){
    #mainPaginaProductos gallery section picture img{
        width: 200px;
        height: 300px;
        border-radius: 10px;
    }
}