/*Selector Universal*/
*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
  }

body{
    font-family: Arial;
    background-color: #554865;
    margin: 0;
    margin-bottom: 40px;
}

main{
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuerpo{
    width: 400px;
    height: 340px;
    background-color: #e9dfcc;
    /*margin: auto;*/
    /*padding-top: 180px;*/
    box-shadow: 7px 13px #352630;
    padding: 20px 30px;
    border-top: 4 solid 554865;
    color: #352630;
}

.cuerpo h4{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.valores{
    width: 100%;
    border: 1px solid #f3a36b;
    margin-bottom: 15px;
    padding: 11px 10px;
    background-color: #554865;
    font-size: 14px;
    font-weight: bold;
    color: #e9dfcc;
}

.cuerpo h3{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.boton{
    width: 100%;
    height: 40px;
    background-color: #cd5b51;
    border: none;
    color: white;
    margin-bottom: 16px;
    border-radius: 10px;
    font-size: 20px;
}

.boton:hover{
    background-color: #352630;
    color: #f3a36b;
}

footer{
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 100%;
    font-size: 15px;
    background-color: #e9dfcc;
    color: #352630;
    /*margin-top: 117px;*/
}

#nota{
    color: #e9dfcc;
    margin-left: 10px;
}